<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VALORANT_stats"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".valo.crosshair.CrossHairActivity"
            android:exported="false" />
        <activity
            android:name=".valo.cosmetics.weapon.WeaponActivity"
            android:exported="false" />
        <activity
            android:name=".valo.cosmetics.CosmeticsListActivity"
            android:exported="false" />
        <activity
            android:name=".valo.RecieveSharedProfileActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="statics-fd699.web.app"
                    android:pathPrefix="/valorant/profile"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".valo.cosmetics.CosmeticsAgentsActivity"
            android:exported="false" />
        <activity
            android:name=".valo.activities.LoggingInActivityRSO"
            android:exported="false" />
        <activity
            android:name=".main.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".valo.activities.RSOActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="statics-fd699.web.app"
                    android:pathPrefix="/authorize.html"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".valo.leaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".valo.activities.MMRActivity"
            android:exported="false" />
        <activity
            android:name=".valo.activities.ViewMatches"
            android:exported="false" />
        <activity
            android:name=".valo.ValorantUpdatesActivity"
            android:exported="true"
            android:label="@string/title_activity_valorant_updates"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VALORANT_stats.NoActionBar" />
        <activity
            android:name=".valo.match_info.MatchHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="Statics"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".valo.activities.ValorantMainMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VALORANT_stats" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".valo.LiveMatchService" />
    </application>

</manifest>
