<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jawaadianinc.valorant_stats">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VALORANT_stats"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".valorant.RecieveSharedProfileActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="statics-fd699.web.app"
                    android:pathPrefix="/valorant/profile"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".valorant.CosmeticsActivity"
            android:exported="false" />
        <activity
            android:name=".valorant.LoggingInActivityRSO"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".fortnite.findFortniteAccount"
            android:exported="false" />
        <activity
            android:name=".valorant.RSOActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="statics-fd699.web.app"
                    android:pathPrefix="/authorize.html"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".brawlhalla.brawlStatsActivity"
            android:exported="false"
            android:theme="@style/Theme.VALORANT_stats" />
        <activity
            android:name=".valorant.leaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".valorant.MMRActivity"
            android:exported="false" />
        <activity
            android:name=".brawlhalla.brawlFindAccount"
            android:exported="false"
            android:theme="@style/Theme.VALORANT_stats" />
        <activity
            android:name=".GamePickerMenu"
            android:exported="false" />
        <activity
            android:name=".valorant.ViewMatches"
            android:exported="false" />
        <activity
            android:name=".valorant.ValorantUpdatesActivity"
            android:exported="true"
            android:label="@string/title_activity_valorant_updates"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VALORANT_stats.NoActionBar" />
        <activity
            android:name=".valorant.MatchHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="Statics"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".valorant.ValorantMainMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VALORANT_stats" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
